@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800 dark:bg-slate-800 dark:text-white;
  font-family: "Nunito", sans-serif;
}

.hero-bg-wrap {
  position: relative;
}

.hero-bg-wrap:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.3; */
  background-image: url("/assets/images/hero.jpg");
  background-repeat: no-repeat;
  /* background-position: 50% 0; */
  background-size: cover;
  @apply opacity-10 dark:opacity-20;
}

.hero-bg-content {
  position: relative;
}

/* hide the google recaptcha badge */
.grecaptcha-badge {
  visibility: hidden;
}
